.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

/* Original CSS copied from https://codepen.io/mahmudulhrabby/pen/KLRovM */
.sampleButton {
  position: relative;
  width: 125px;
  height: 40px;
  background: #ec18b2; /* background color */
  color: #fff; /* Font color */
  margin: 10px auto 0 auto;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.sampleButton:focus, .sampleButton:active, .sampleButton:visited{
  outline: none;
}

.environmentText {
  color: rgb(128, 128, 128);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
